.home-wrapper {
    padding: 1rem;
}

.search-wrapper {
    /* background: pink; */
    width: 100%;
    /* padding-top: 2rem; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}
.home-wrapper_search {
    /* margin: .5rem; */
    padding-bottom: 1rem;
    
}

.list > li {
    margin-left: 2rem!important;
    padding: .2rem;
}

.btn.disabled {
    opacity: 0.65!important; 
  cursor: not-allowed;
}