.search-wrapper {
    /* background: pink; */
    width: 100%;
    /* padding-top: 2rem; */
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.search-wrapper > * {
    
}